<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Set the document's title -->
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Spectrometer</title>
        {% endif %}

        <!-- Set the base URL for all relative URLs within the document -->
        <!--<base href="http://example.com/page.html">-->

        <!-- Name of web application -->
        <meta name="application-name" content="Spectrometer">

        <!-- Identify the software used to build the document (i.e. - WordPress, Dreamweaver) -->
        <meta name="generator" content="Flask">

        <!-- Short description of your document's subject -->
        <meta name="subject" content="Spectrometer web interface">

        <!-- Set colour of browser header -->
        <meta name="theme-color" content="#E64545">

        <!-- Add to home screen -->
        <meta name="mobile-web-app-capable" content="yes">

        <!-- Author's email -->
        <link rel="me" href="mailto:gb@gbryant.co.uk">

        <!-- Shared styles -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/common.css')}}">

        <!-- Page-specific styles -->
        {% block styles %}{% endblock %}

        <!-- Scripts -->
        {% block scripts %}{% endblock %}
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>
