{% extends "base.html" %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css')}}">
{% endblock %}


{% block scripts %}
{% endblock %}


{% block content %}
    <body>
        <nav>
            <h1>Ionichem Spectrometer</h1>
            <div class="right">
                <a href="/index">
                    <img src="{{ url_for('static', filename='icons/button_power.svg')}}" /></a>
            </div>
        </nav>

        <a href="/live" id="button_live" class="menubutton">
            <img src="{{ url_for('static', filename='icons/button_live.svg')}}" />
            <span>Live spectrum</span>
        </a>
        <a href="/tests" id="button_tests" class="menubutton">
            <img src="{{ url_for('static', filename='icons/button_tests.svg')}}" />
            <span>Tests</span>
        </a>
        <a href="/spectra" id="button_spectra" class="menubutton">
            <img src="{{ url_for('static', filename='icons/button_spectra.svg')}}" />
            <span>Saved spectra</span>
        </a>
    </body>
{% endblock %}
