{% extends "base.html" %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/live_spectrum.css')}}">
{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.3.1.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/socket.io.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/spectrometer.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/chart-2.7.2.min.js')}}"></script>
{% endblock %}


{% block content %}
    <nav>
        <div class="left">
            <a href="/index">
                <img src="{{ url_for('static', filename='icons/button_back.svg')}}" /></a>
            <a href="/testui">
                <img src="{{ url_for('static', filename='icons/button_tests.svg')}}" /></a>
            <a href="/save">
                <img src="{{ url_for('static', filename='icons/button_save.svg')}}" /></a>
        </div>
        <h1>Test_name</h1>
        <div class="right">
            <a href="/livesettings">
                <img src="{{ url_for('static', filename='icons/button_settings.svg')}}" /></a>
        </div>
    </nav>

    <!--
    <form id="request" method="post" action="#">
        <input type="submit" value="Get spectrum!">
    </form>

    <div id="log"></div>
    -->

    <canvas id="spectrumChart"></canvas>
{% endblock %}
