{% extends "base.html" %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/tests.css')}}">
{% endblock %}


{% block scripts %}
{% endblock %}


{% block content %}
    <body>
        <nav>
            <div class="left">
                <a href="/index">
                    <img src="{{ url_for('static', filename='icons/button_back.svg')}}" /></a>
            </div>
            <h1>Tests</h1>
            <div class="right">&nbsp;</div>
        </nav>

        <a href="/tests" id="button_live" class="menubutton">
            <img src="{{ url_for('static', filename='icons/button_tests.svg')}}" />
            <span>Test 1</span>
        </a>
    </body>
{% endblock %}
