/*
 *  Shared styles for spectrometer webapp
 */


html, body {
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    margin: 0;
}


body {
    height: 100%;
    display: grid;
    grid-gap: 8px;
    justify-items: center; /* may want stretch */
    align-items: center;
}


/* Navbar */
nav {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;

    width: 100%;
    height: 100%;

    background-color: #F00;

    /* Flexbox for contents */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
    list-style-type: none;
}

.menubutton {
    width: 100%;
    height: 100%;

    background-color: #888;

    text-decoration: none;

    display: flex;
    justify-content: space-around;
    align-items: center;

}

.menubutton img {
    width: 100px;
    height: 100px;
}

