/*
 *  Styles specific to index menu page
 */


body {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60px 1fr 1fr;
}


#button_live {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;

    flex-direction: column;
}

#button_tests {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    flex-direction: row;
}

#button_spectra {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    flex-direction: row;
}
